<!DOCTYPE HTML>
<html>
<head>
    <title>ISM 2665 DIS Group 4</title>
    <meta charset="utf-8" Semper suscipit posuere apede />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*<link rel="stylesheet" href="assets/css/main.css" />*@

</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section>
        <br />
        <p style="font-size:xx-large; color:black; text-align:center; vertical-align :bottom;">About us</p>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <!--<section id="two">-->
        <div class="inner">

            <header>
                <h2>DIS Group 4</h2>
                <p>Team Members</p>
            </header>
            <div class="flex flex-4">
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/AM11.jpeg" alt="Person 1" />
                    </div>
                    <h3>Aishwaryaa Mekala</h3>
                    <p>aishwaryaa@usf.edu</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/Nynali2.jpg" alt="Person 2" />
                    </div>
                    <h3>Nynali Gopu</h3>
                    <p>ngopu@usf.edu</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="~/images/saranya.jpg" alt="Person 3" />
                    </div>
                    <h3>Saranya Rajagopalan</h3>
                    <p>saranyarajagopalan@usf.edu</p>
                </div>
            </div>
        </div>
    </section>
    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner">
            <div class="flex flex-3">
                <article>

                    <p>Currently a Graduate student in Business Analytics and Information Systems at USF, Aishwaryaa has 3 years of experience as an Associate Solution Advisor. She contributed to designing the data model and webpages.</p>

                </article>
                <article>
                    <p>
                        A graduate student in Business Analytics and Information Systems at USF, Nynali has 5 years of experience as a Change and Release Manager.
                        She contributed to pulling the data from data.gov and also in designing various pages of the website.
                    </p>

                </article>
                <article>
                    <p>
                        A graduate student in Business Analytics and Information Systems at USF, Saranya Rajagopalan has 12 years of experience as a Senior Java Developer.
                        She contributed to designing various pages of the website and worked on various css sheets, classes for setting up pages.
                    </p>

                </article>
            </div>
        </div>
    </section>
    <!-- Three -->
    <!--
    <section id="three" class="wrapper">-->
    <!--
    <div class="inner">
            <div class="card">
                <div class="card-body">-->
    <header class="align-center">
        <h5 class="card-title"> <b>GITHUB LINK</b></h5>
        <a href="https://github.com/saranyarajagopalanlokesh/Assignment_LookAndFeel" class="card-link">Please select this link for project code</a>
        <!--</div>
        </div>
        </header>-->
        <section id="three" class="wrapper">
            <header class="align-center">
                <h2>Database Relationship Diagram</h2>
            </header>
            <div class="flex flex-2">
                <article>
                    <div class="image fit">
                        <img src="~/images/ERD.png" alt="Pic 01" style="vertical-align:middle;margin:0px 300px" />
                    </div>
                </article>
            </div>
            <!--
                    </div>-->
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy;USF:<a>Group 4</a>.

                    </div>
        </footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>