<!DOCTYPE HTML>
<html>
<head>
    <title>Elements - Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <header class="align-center">
        <h2>Program Details</h2>
        <p>Academic Programs offered by each Institution </p>
    </header>
    <h4>Program Deleted</h4>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Program Id</th>
                    <th>Program Name</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <br />
    <br />
    <br />
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; USF <a>GROUP 4</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>