
@*@{
  ViewData["Title"] = "IndexWithLayout";
}*@

<html>
<head>
    <title>ISM2665 DIS GROUP 4</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*<link rel="stylesheet" href="~assets/css/main.css" />*@
</head>


<body class="subpage">
    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>



    <section class="bannernew2">
        
    </section>


    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner">
            <div>

                <center><h1 style="font-weight:bold;font-size:xx-large">Welcome to College Program Portal!</h1></center>
                <h3>What is this about?</h3>

                <p>Our website enables admins of schools/colleges in the U.S. to find information on respective schools/colleges and make changes to the same so that it always shows the latest information. They can access the website and search for their college and get the information such as city, state, zip. They can further drill down each university to get the information on the list of programs offered by it. Admin can create an entry here for each time a new program introduced by that university or he can update an existing entry to reflect any changes to the program name or he can also delete an entry if a program is no longer offered by that university. One institution can have many programs being offered.</p>
            </div>
        </div>

    </section>

    <div class="box person">
        <div class="image">
            <img src="~/images/datavisualization.png" alt="Person 3" />
            @*<img src="~/images/" alt="Person 3" />*@
            <img src="s" alt="Person 3" />
        </div>
    </div>

        <!-- Footer -->
        <!--<footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; USF <a>GROUP 4</a>

                    </div>
        </footer>-->

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>