<!DOCTYPE HTML>
<html>
<head>
    <title>Elements - Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!--<h3>Program Details</h3>-->
    <header class="align-center">
        <h2>Program Details</h2>
        <p>Academic Programs offered by each Institution </p>
    </header>
    <h4>Concorde Career Institute-Tampa</h4>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Program Id</th>
                    <th>Program Name</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>5106</td><td>Dental Support Services and Allied Professions.</td><td><a href="update" class="button special small">Update</a> <a href="Delete" class="button special small">Delete</a></td></tr>
                <tr><td>5107</td><td>Health and Medical Administrative Services.</td><td><a href="update" class="button special small">Update</a> <a class="button special small">Delete</a></td></tr>
                <tr><td>5108</td><td>Allied Health and Medical Assisting Services.</td><td><a href="update" class="button special small">Update</a> <a class="button special small">Delete</a></td></tr>
                <tr><td>5109</td><td>Allied Health Diagnostic, Intervention, and Treatment Professions.</td><td><a href="update" class="button special small">Update</a> <a class="button special small">Delete</a></td></tr>
                <tr><td>5138</td><td>Registered Nursing, Nursing Administration, Nursing Research and Clinical Nursing.</td><td><a href="update" class="button special small">Update</a> <a class="button special small">Delete</a></td></tr>
                <tr><td>5139</td><td>Practical Nursing, Vocational Nursing and Nursing Assistants.</td><td><a href="update" class="button special small">Update</a> <a class="button special small">Delete</a></td></tr>

            </tbody>
        </table>
    </div>

    <div class="12u$">
        <ul class="actions">
            <center><a href="createnew" class="button special small">Create a New Program</a></center>
        </ul>
    </div>


    <!--</footer>-->

    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; USF <a>GROUP 4</a>

                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>