﻿
<!DOCTYPE HTML>


<html>
<head>
    <title>Elements - Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">


    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">

            <header class="align-center">
                <!--<h2>Search</h2>-->

                <h2><img src="~/images/search.jpg" alt="search" height="100" width="200" /></h2>
                <input type="text" name="field3" class="field-style field-split align-left" placeholder="Concorde Career Institute-Tampa" />


                <br />
                <a href="#" class="button special icon fa-search">Search</a>

            </header>

            <hr class="major" />

            <!-- Table -->
            <h3>Search Results</h3>

            <div class="table-wrapper">
                <table>

                    <thead><tr class="tableizer-firstrow"><th>INSTITUITION NAME</th><th>CITY</th><th>STATE</th><th>ZIP</th><th>Operation</th></tr></thead>
                    <tbody>
                        <tr><td>Concorde Career Institute-Tampa</td><td>Tampa</td><td>FL</td><td>33607-4127</td><td><a asp-area="" asp-controller="Home" asp-action="Programdetails" class="button special small">Details</a></td></tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="2"></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
    </section>


    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; USF <a>GROUP 4</a>

                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>