<!DOCTYPE HTML>
<html>
<head>
    <title>Elements - Theory by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner" style="font-weight:bold;font-size:x-large">
            <nav id="nav">
                <a href="Index">Home</a>
                <a href="Searchuniv">Search Univ</a>
                <a href="Aboutus">About Us</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Update</h2>
                <p>Update the Academic Programs for an Instition </p>
            </header>

            <hr class="major" />
            <!-- Form -->

            <form method="post" action="#">
                <div class="row uniform table-wrapper">

                    <div class="6u 12u$(xsmall)">
                        <div class="wrapper">
                            <label for="Institution">Institution (Read-Only)</label>
                            <input type="text" name="Instituition Name" id="Instituition Name" value="" placeholder="Concorde Career Institute-Tampa" />

                        </div>
                    </div>
                    <!-- Break -->
                    <div class="6u$ 12u$(xsmall)">
                        <label for="Programs">Program Name</label>
                        <input type="text" name="Programs" id="Program" value="" placeholder="Program" />
                    </div>

                    <!-- Break -->
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" class="button special" value="Update" /></li>
                            <li><input type="reset" value="Reset" class="alt" /></li>
                        </ul>
                    </div>
                </div>
            </form>

            <hr />

        </div>
        </div>

        </div>
    </section>

    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; USF <a>GROUP 4</a>

                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>